
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class></li>
    <li data-target="#myCarousel" data-slide-to="2" class></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
    <div class="container">
      <div class="carousel-caption">
        <h1>Example headline</h1>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">EDM Events<span class="text-muted"></span></h2>
      <p class="lead">
      Find price data for your favorite EDM events.  Not in the database?  Create and have the application look up ticket sites for you.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img class="featurette-image img-responsive">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Price Charts<span class="text-muted"></span></h2>
      <p class="lead">See the historical price data for your events.  When are the peaks?  How many tickets available on average?  Never buy uninformed again.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Up to Date<span class="text-muted"></span></h2>
      <p class="lead">The data is mined and saved to the database.  Chart not updated?  Request the server scrape and parse the data out for you.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive">
    </div>
  </div>

  <hr class="featurette-divider">

  <footer>
    <p class="pull-right">
      <a href="#">Back to Top</a>
    </p>
  </footer>
</div>